
form{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60%;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

input[type=text], input[type=email], input[type=number] {
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

input[type=submit]{
  padding: 15px 25px;
  align-self: flex-end;
  background-color: var(--btn-blue);
  font-size: 16px;
  border-radius: 10px;
  color: white;
}
input[type=submit]:hover{
  background-color: var(--btn-hover-blue);
}

