
.single-customer-main{
  grid-row: 2 / 7;
  grid-column: 2 / 7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr) 50px;
  padding: 2vw;
  border-radius: 10px;
  margin: 15px;
  background-color: var(--not-so-dark-grey);
}

.container{
  border-radius: 5px;
  background-color: var(--dark-blue);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  width: 200px;
  height: 100px;
}
.key{
  width: 100%;
  text-align: center;
  border-bottom: 2px solid var(--btn-blue);
  margin-bottom: 10px;
}

.value{
  word-break: break-all;
}

.fields{
  grid-template-columns: 1 / span 1;
  grid-row: 1 / span 4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#btn{
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
  align-self: flex-end;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--btn-blue);
  transition: all 0.5s;
  text-align: center;
  cursor: pointer;
}

#btn:hover{
  background-color: var(--btn-hover-blue);
}

.table{
  grid-column: 2 / span 3;
  grid-row: 1 / span 3;
  margin: 15px;
  width: 100%;

}
.table-head{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 3px solid var(--very-dark-grey);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 50px;
  background-color: var(--btn-blue);
  transition: all 0.2s; 

}

.table-head:hover{
  background-color: var(--btn-hover-blue);
}

table{
  border-collapse: collapse; 
  overflow-y: auto;
  max-height: 320px;
  display: block;
}
td{
  text-align: center;
  padding: 15px;
  transition: all 0.5s;
  border-bottom: 3px solid var(--very-dark-grey);
  width: 800px;
}


a:hover{
  text-decoration: underline;
}

a.home:hover{
  text-decoration: none;
}

tr:last-child td:first-child{
  border-bottom-left-radius: 15px;
}
tr:last-child td:last-child{
  border-bottom-right-radius: 15px;
}
tr:last-child td{
  border: none;
}
td:hover{
  padding-top: 30px;
  padding-bottom: 30px;
}

tr:hover{
  background-color: #777;
}

form{
  display: none;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

input[type=text], input[type=number], select {
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 30px;
}
input[type=submit]{
  padding: 15px 25px;
  align-self: flex-end;
  background-color: var(--btn-blue);
  font-size: 14px;
  border-radius: 10px;
  color: white;
}
input[type=submit]:hover{
  background-color: var(--btn-hover-blue);
}