<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./customer-table.css" />
		<link rel="stylesheet" href="./common.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">

		<title>Document</title>
	</head>
	<body>
		<nav>
			<p>Basic Banking System</p>
			<a href="home-page" class="home">home</a>
		</nav>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<% if(result.length > 0){%> <%result.forEach(user=>{ %>
				<tr>
				<td onclick = 'location.href="./single-customer/<%=user._id%>"'>
					<%= user.name%>
				</td>
				<td><%= user.email%></td>
				<td>$<%= user.amount%></td>
				<%})%> <%}%>
				</tr>
			</tbody>
		</table>
		<footer>made with love by Eyad Alsherif</footer>
	</body>
</html>
