<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./home-page.css">
  <link rel="stylesheet" href="./common.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">

  <title>Home</title>
</head>
<body>
  <nav>Basic Banking System</nav>
  <div class="home-page-main">
    <div class="section one">
      <div class="btn">
        <a href="customers">
          transfer money
        </a>
      </div>
      <div class="image">
        <img src="../photos/money.png" alt="">
      </div>
    </div>
    <div class="section two">
      <div class="btn">
        <a href="new-customer">
          add customer
        </a>
      </div>
      <div class="image">
        <img src="../photos/customer.png" alt="">
      </div>
    </div>
    <div class="section three">
      <div class="btn">
        <a href="transactions">
          view transactions
        </a>
      </div>     
      <div class="image">
        <img src="../photos/cheque.png" alt="">
      </div>
    </div>
  </div>
  <footer>made with love by Eyad alsherif</footer>

  <script src="/reload/reload.js"></script>


</body>
</html>