<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../new-customer.css">
  <link rel="stylesheet" href="../common.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
  <title>new customer</title>
</head>
<body>
  
    <nav>Enter Data of new Customer
    <a href="../home-page" class="home">home</a>
  </nav>
  <form action="home-page" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" required>
    <label for="name">Email</label>
    <input type="email" name="email" required>
    <label for="name">Initial amount</label>
    <input type="number" name="amount" min="0" required>
    <input type="submit" value="submit">
  </form>
  <footer>made with love by Eyad alsherif</footer>


</body>
</html>